{% extends "base.html" %}
{% block indextitle %}{% endblock %}
{% block content %}
<div class='article'>
  <div class="page-header"><h1>{{ article.title|title }}</h1>
    {% include "metadata.html" %}
  </div>
  <div class="page-content">{{ article.content }}</div>
  <hr />
  {% include "tag-footer.html" %}
  <br><br>
  <div>
    <h2>Comments</h2>
    {% include "twitter.html" %}
    {% if DISQUS_SITENAME %}<div id="disqus_thread"></div>{% endif %}
    {% include "facebook.html" %}
  </div>
</div>	
{% endblock %}
